body{
  margin:0;
}
#head {
  background-color: rgb(65, 63, 62);
  margin-bottom: 0;
  padding: 10px;
}
.banner {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcess99D3XD5ZeOyVhf3pC5SXo6j1AUfGBhQ&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

#banimg {
  width: 500px;
  height: 400px; /* Set the maximum width of the image */
  margin: 20px; /* Add some spacing between the image and paragraph */
}

.banner p {
  flex: 1;
  color: white; /* Allow the paragraph to grow and take the remaining space */
}
h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: rgb(233, 34, 34);
}
#button {
  text-align: center;
  color: whitesmoke;
  background-color: #1941ae;
  border: 5px solid white;
  padding: 6px;
}
.buttondis {
  text-align: center;
}
.main {
  background-color: rgb(240, 240, 232);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dc7d51;
  color: white;
  margin-top: 0;
  height: 60px 
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.part1 {
  margin-left: 20px;
}
.part3 {
  margin: 10px 10px 10px 10px;
  align-items: center;
}

.navbar li {
  margin-right: 50px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: rgb(87, 86, 86);
  color: white;
  text-align: center;
  padding: 15px 15px;
  width: 1233px;
}
#servbody {
  background-image: url("servicebg.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  height: 32em;
}
#serv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#serv div {
  width: calc(50% - 15px);
  align-items: center;
  margin: 7px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(65, 64, 64);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(234, 224, 226, 0.6);
}
#serv div h3 {
  margin-top: 10px;
}
.js {
  width: 80px;
  height: 35px;
}
